<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="crmEntities2" connectionString="metadata=res://*/EF.CRMEntities.csdl|res://*/EF.CRMEntities.ssdl|res://*/EF.CRMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-4M23OQ7\SQLEXPRESS;initial catalog=crm_db;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="crmEntities" connectionString="metadata=res://*/EF.Crm.csdl|res://*/EF.Crm.ssdl|res://*/EF.Crm.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8D3UBVV;initial catalog=crm_db;persist security info=True;user id=sa;password=123;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="crm_dbEntities" connectionString="metadata=res://*/EF.CrmEntities.csdl|res://*/EF.CrmEntities.ssdl|res://*/EF.CrmEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=92.205.237.129;initial catalog=crm_db;persist security info=True;user id=CityMapLogin;password=admin123@#$;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>